MemberManageSilverlight/Service References/wcfService/Wcf_Getdata.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Wcf_Getdata" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60800/Wcf_Getdata.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60800/Wcf_Getdata.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60800/Wcf_Getdata.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MemberWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcf_Getdata_GetAllMember_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMember" />
  </wsdl:message>
  <wsdl:message name="IWcf_Getdata_GetAllMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IWcf_Getdata_CreateMember_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMember" />
  </wsdl:message>
  <wsdl:message name="IWcf_Getdata_CreateMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IWcf_Getdata_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IWcf_Getdata_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IWcf_Getdata_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="IWcf_Getdata_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="IWcf_Getdata_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="IWcf_Getdata_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcf_Getdata">
    <wsdl:operation name="GetAllMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcf_Getdata/GetAllMember" message="tns:IWcf_Getdata_GetAllMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcf_Getdata/GetAllMemberResponse" message="tns:IWcf_Getdata_GetAllMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcf_Getdata/CreateMember" message="tns:IWcf_Getdata_CreateMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcf_Getdata/CreateMemberResponse" message="tns:IWcf_Getdata_CreateMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcf_Getdata/Delete" message="tns:IWcf_Getdata_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcf_Getdata/DeleteResponse" message="tns:IWcf_Getdata_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcf_Getdata/Search" message="tns:IWcf_Getdata_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcf_Getdata/SearchResponse" message="tns:IWcf_Getdata_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcf_Getdata/Edit" message="tns:IWcf_Getdata_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcf_Getdata/EditResponse" message="tns:IWcf_Getdata_Edit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWcf_Getdata" type="tns:IWcf_Getdata">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMember">
      <soap:operation soapAction="http://tempuri.org/IWcf_Getdata/GetAllMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMember">
      <soap:operation soapAction="http://tempuri.org/IWcf_Getdata/CreateMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IWcf_Getdata/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/IWcf_Getdata/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/IWcf_Getdata/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Wcf_Getdata">
    <wsdl:port name="BasicHttpBinding_IWcf_Getdata" binding="tns:BasicHttpBinding_IWcf_Getdata">
      <soap:address location="http://localhost:60800/Wcf_Getdata.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>